@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
.Stars {
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1512px 1985px #fff, 818px 64px #fff, 1777px 1466px #fff,
    1372px 892px #fff, 268px 123px #fff, 1448px 1615px #fff, 173px 187px #fff,
    909px 570px #fff, 480px 253px #fff, 1734px 1402px #fff, 432px 1550px #fff,
    702px 165px #fff, 1060px 660px #fff, 1588px 4px #fff, 1172px 61px #fff,
    1043px 3px #fff, 1099px 643px #fff, 6px 1067px #fff, 664px 33px #fff,
    1931px 1214px #fff, 1998px 1087px #fff, 746px 254px #fff, 1433px 544px #fff,
    676px 906px #fff, 654px 566px #fff, 1947px 1012px #fff, 148px 96px #fff,
    632px 314px #fff, 725px 1669px #fff, 782px 1623px #fff, 1502px 433px #fff,
    1094px 1357px #fff, 1589px 1372px #fff, 1360px 1196px #fff,
    1019px 1508px #fff, 1038px 362px #fff, 871px 141px #fff, 1469px 390px #fff,
    1837px 1345px #fff, 841px 882px #fff, 1172px 674px #fff, 1696px 1562px #fff,
    1911px 1805px #fff, 4px 1219px #fff, 1835px 1486px #fff, 1093px 371px #fff,
    606px 439px #fff, 1020px 732px #fff, 1943px 222px #fff, 38px 1891px #fff,
    466px 731px #fff, 1784px 1374px #fff, 1627px 1392px #fff, 462px 540px #fff,
    727px 1482px #fff, 1786px 210px #fff, 28px 1197px #fff, 1274px 1878px #fff,
    1208px 1114px #fff, 4px 731px #fff, 49px 854px #fff, 1925px 100px #fff,
    1818px 1920px #fff, 345px 1466px #fff, 1333px 819px #fff, 732px 48px #fff,
    1300px 183px #fff, 1396px 1576px #fff, 1242px 533px #fff, 644px 965px #fff,
    1958px 303px #fff, 1006px 982px #fff, 1666px 531px #fff, 1344px 1898px #fff,
    811px 1681px #fff, 1180px 1492px #fff, 1194px 1362px #fff, 707px 552px #fff,
    230px 1913px #fff, 1390px 560px #fff, 1619px 351px #fff, 475px 708px #fff,
    13px 1230px #fff, 1557px 893px #fff, 998px 777px #fff, 752px 941px #fff,
    1257px 692px #fff, 584px 1024px #fff, 253px 1992px #fff, 1209px 659px #fff,
    208px 388px #fff, 532px 1530px #fff, 711px 218px #fff, 76px 1347px #fff,
    702px 1805px #fff, 197px 1630px #fff, 445px 1195px #fff, 588px 949px #fff,
    1865px 216px #fff, 10px 260px #fff, 858px 197px #fff, 217px 1650px #fff,
    90px 1737px #fff, 1513px 1659px #fff, 816px 1481px #fff, 1733px 1558px #fff,
    545px 1884px #fff, 1430px 1904px #fff, 563px 906px #fff, 1058px 1688px #fff,
    386px 1642px #fff, 888px 1743px #fff, 30px 1435px #fff, 991px 111px #fff,
    1851px 1330px #fff, 129px 22px #fff, 1981px 1637px #fff, 233px 237px #fff,
    897px 1941px #fff, 243px 1798px #fff, 1852px 616px #fff, 50px 609px #fff,
    962px 74px #fff, 1748px 1992px #fff, 1296px 1517px #fff, 2px 1989px #fff,
    426px 989px #fff, 3px 1694px #fff, 858px 393px #fff, 598px 1096px #fff,
    1473px 1180px #fff, 1706px 812px #fff, 712px 1641px #fff, 1366px 472px #fff,
    1399px 7px #fff, 975px 635px #fff, 1796px 706px #fff, 1359px 744px #fff,
    454px 1779px #fff, 326px 1544px #fff, 1934px 278px #fff, 1715px 1392px #fff,
    951px 619px #fff, 1228px 883px #fff, 1823px 1496px #fff, 864px 481px #fff,
    1439px 1202px #fff, 791px 1719px #fff, 480px 1760px #fff, 1157px 748px #fff,
    725px 1256px #fff, 67px 111px #fff, 1778px 1621px #fff, 522px 110px #fff,
    1994px 866px #fff, 1218px 761px #fff, 703px 1420px #fff, 630px 1408px #fff,
    1834px 1544px #fff, 1522px 1081px #fff, 1423px 1566px #fff,
    1826px 1645px #fff, 1225px 1718px #fff, 655px 1366px #fff,
    1993px 1777px #fff, 1396px 1371px #fff, 599px 661px #fff, 395px 1977px #fff,
    413px 1648px #fff, 1770px 746px #fff, 711px 1403px #fff, 1317px 988px #fff,
    1136px 1746px #fff, 536px 810px #fff, 829px 1411px #fff, 394px 595px #fff,
    1168px 762px #fff, 429px 1845px #fff, 924px 1394px #fff, 596px 309px #fff,
    1029px 392px #fff, 47px 1575px #fff, 1338px 841px #fff, 1807px 197px #fff,
    366px 130px #fff, 413px 145px #fff, 1674px 1742px #fff, 1991px 740px #fff,
    1122px 663px #fff, 418px 1728px #fff, 1545px 1482px #fff, 1644px 322px #fff,
    758px 376px #fff, 772px 1807px #fff, 1656px 1654px #fff, 1404px 1206px #fff,
    1495px 216px #fff, 733px 754px #fff, 1666px 236px #fff, 191px 1042px #fff,
    883px 1234px #fff, 799px 1982px #fff, 49px 283px #fff, 1050px 1047px #fff,
    1296px 1714px #fff, 1320px 1453px #fff, 1940px 1593px #fff, 1323px 41px #fff,
    912px 1225px #fff, 1577px 1104px #fff, 1034px 531px #fff, 332px 1525px #fff,
    327px 964px #fff, 158px 951px #fff, 844px 899px #fff, 106px 289px #fff,
    565px 1320px #fff, 1115px 912px #fff, 431px 1271px #fff, 1635px 186px #fff,
    1190px 122px #fff, 1971px 512px #fff, 901px 698px #fff, 1024px 896px #fff,
    571px 1129px #fff, 1503px 789px #fff, 52px 1426px #fff, 415px 492px #fff,
    557px 329px #fff, 513px 1673px #fff, 11px 967px #fff, 427px 1520px #fff,
    461px 1636px #fff, 55px 1331px #fff, 1940px 119px #fff, 1533px 254px #fff,
    1384px 825px #fff, 930px 531px #fff, 412px 1115px #fff, 1020px 430px #fff,
    677px 121px #fff, 685px 466px #fff, 300px 281px #fff, 275px 404px #fff,
    1653px 9px #fff, 290px 1120px #fff, 257px 1968px #fff, 637px 1632px #fff,
    419px 331px #fff, 1545px 795px #fff, 868px 1047px #fff, 1837px 763px #fff,
    706px 781px #fff, 375px 1632px #fff, 1782px 1491px #fff, 128px 445px #fff,
    363px 1816px #fff, 1868px 1246px #fff, 1740px 1006px #fff, 1266px 322px #fff,
    1055px 690px #fff, 779px 1264px #fff, 1791px 1779px #fff, 1022px 1863px #fff,
    768px 250px #fff, 1472px 1227px #fff, 903px 606px #fff, 1814px 285px #fff,
    905px 1407px #fff, 1838px 162px #fff, 1462px 1357px #fff, 1620px 1541px #fff,
    1596px 1041px #fff, 1674px 620px #fff, 803px 923px #fff, 1466px 1856px #fff,
    1134px 1622px #fff, 1025px 190px #fff, 103px 1841px #fff, 1417px 1409px #fff,
    1195px 1516px #fff, 1998px 940px #fff, 201px 1325px #fff, 1546px 568px #fff,
    1171px 645px #fff, 1780px 74px #fff, 1583px 401px #fff, 1012px 80px #fff,
    1955px 1324px #fff, 1934px 875px #fff, 336px 1688px #fff, 493px 891px #fff,
    582px 1255px #fff, 1894px 1629px #fff, 1986px 335px #fff, 1673px 1853px #fff,
    146px 1985px #fff, 1717px 734px #fff, 962px 1486px #fff, 1156px 715px #fff,
    574px 629px #fff, 1447px 481px #fff, 1048px 1421px #fff, 1891px 709px #fff,
    378px 648px #fff, 699px 155px #fff, 1146px 454px #fff, 359px 1096px #fff,
    1803px 134px #fff, 1618px 616px #fff, 1556px 797px #fff, 496px 653px #fff,
    90px 851px #fff, 255px 593px #fff, 913px 1523px #fff, 1512px 778px #fff,
    401px 1101px #fff, 841px 848px #fff, 788px 742px #fff, 1283px 1340px #fff,
    1732px 883px #fff, 1362px 674px #fff, 1907px 1893px #fff, 1399px 457px #fff,
    1462px 719px #fff, 1051px 217px #fff, 819px 632px #fff, 1587px 1124px #fff,
    154px 1760px #fff, 1667px 1101px #fff, 1353px 1147px #fff, 289px 153px #fff,
    1574px 799px #fff, 799px 1638px #fff, 259px 780px #fff, 1257px 1674px #fff,
    823px 59px #fff, 1791px 1944px #fff, 957px 665px #fff, 1094px 1673px #fff,
    1144px 1702px #fff, 1488px 1227px #fff, 294px 1420px #fff, 419px 547px #fff,
    265px 969px #fff, 1353px 1500px #fff, 1917px 741px #fff, 759px 988px #fff,
    1941px 503px #fff, 471px 173px #fff, 1066px 1960px #fff, 1398px 1052px #fff,
    350px 1961px #fff, 1036px 731px #fff, 426px 140px #fff, 322px 1092px #fff,
    928px 936px #fff, 1215px 648px #fff, 1211px 889px #fff, 1498px 1681px #fff,
    1343px 1271px #fff, 1435px 1493px #fff, 1088px 938px #fff,
    1217px 1989px #fff, 1019px 1162px #fff, 420px 1390px #fff, 705px 704px #fff,
    997px 1684px #fff, 1536px 1645px #fff, 1072px 1584px #fff, 223px 190px #fff,
    1104px 394px #fff, 1393px 725px #fff, 423px 688px #fff, 916px 1680px #fff,
    753px 1576px #fff, 4px 270px #fff, 1184px 1231px #fff, 902px 1237px #fff,
    1332px 898px #fff, 480px 1821px #fff, 1902px 1435px #fff, 499px 336px #fff,
    752px 449px #fff, 60px 1391px #fff, 1180px 648px #fff, 409px 1809px #fff,
    1645px 76px #fff, 748px 431px #fff, 1905px 1642px #fff, 715px 1546px #fff,
    106px 998px #fff, 1490px 142px #fff, 1385px 1105px #fff, 33px 384px #fff,
    1296px 380px #fff, 232px 54px #fff, 570px 1896px #fff, 346px 1851px #fff,
    1135px 1166px #fff, 82px 471px #fff, 1322px 1432px #fff, 1310px 819px #fff,
    1328px 745px #fff, 1103px 701px #fff, 1664px 1077px #fff, 1076px 1741px #fff,
    1572px 1214px #fff, 37px 86px #fff, 422px 977px #fff, 1385px 838px #fff,
    1437px 1050px #fff, 1808px 146px #fff, 420px 444px #fff, 281px 1909px #fff,
    1010px 178px #fff, 890px 1207px #fff, 1848px 1887px #fff, 1684px 1064px #fff,
    965px 1184px #fff, 41px 1843px #fff, 1977px 733px #fff, 1017px 1657px #fff,
    1206px 255px #fff, 1840px 618px #fff, 998px 571px #fff, 1715px 1854px #fff,
    1488px 1804px #fff, 293px 96px #fff, 771px 1914px #fff, 1020px 682px #fff,
    437px 589px #fff, 1023px 1941px #fff, 1690px 1300px #fff, 690px 1776px #fff,
    1730px 301px #fff, 1464px 1417px #fff, 420px 923px #fff, 981px 350px #fff,
    476px 1907px #fff, 828px 1858px #fff, 1740px 954px #fff, 466px 848px #fff,
    1921px 490px #fff, 598px 457px #fff, 800px 1816px #fff, 1509px 1514px #fff,
    760px 258px #fff, 1156px 827px #fff, 2000px 489px #fff, 448px 1707px #fff,
    1736px 1989px #fff, 8px 1061px #fff, 25px 797px #fff, 987px 1148px #fff,
    175px 228px #fff, 1903px 1234px #fff, 526px 115px #fff, 1700px 697px #fff,
    223px 862px #fff, 588px 570px #fff, 1981px 492px #fff, 1882px 1251px #fff,
    422px 673px #fff, 1263px 926px #fff, 296px 1525px #fff, 707px 1090px #fff,
    1853px 1115px #fff, 1357px 764px #fff, 762px 383px #fff, 874px 1807px #fff,
    1627px 1555px #fff, 674px 584px #fff, 290px 1911px #fff, 502px 1033px #fff,
    850px 136px #fff, 8px 577px #fff, 1636px 1532px #fff, 744px 289px #fff,
    1150px 1447px #fff, 2px 1961px #fff, 1670px 606px #fff, 1734px 908px #fff,
    250px 468px #fff, 1503px 344px #fff, 733px 1602px #fff, 770px 1533px #fff,
    1568px 847px #fff, 418px 1444px #fff, 1228px 1123px #fff, 1151px 1865px #fff,
    1036px 786px #fff, 1228px 1259px #fff, 1729px 56px #fff, 1160px 1885px #fff,
    217px 1247px #fff, 428px 326px #fff, 583px 288px #fff, 1709px 783px #fff,
    1744px 7px #fff, 1808px 609px #fff, 888px 889px #fff, 1305px 63px #fff,
    972px 1801px #fff, 62px 1887px #fff, 518px 915px #fff, 600px 395px #fff,
    1471px 1790px #fff, 1471px 1387px #fff, 521px 1750px #fff,
    1504px 1967px #fff, 1609px 438px #fff, 920px 829px #fff, 882px 1549px #fff,
    1974px 1211px #fff, 338px 1226px #fff, 1460px 927px #fff, 671px 234px #fff,
    697px 1809px #fff, 793px 574px #fff, 1600px 1247px #fff, 1180px 242px #fff,
    1236px 1185px #fff, 476px 1239px #fff, 1306px 1374px #fff, 823px 584px #fff,
    1964px 1247px #fff, 1066px 531px #fff, 325px 727px #fff, 1558px 1077px #fff,
    1417px 1831px #fff, 313px 719px #fff, 1112px 578px #fff, 1427px 1124px #fff,
    842px 1300px #fff, 973px 809px #fff, 1425px 2000px #fff, 410px 214px #fff,
    255px 889px #fff, 1679px 1749px #fff, 1713px 883px #fff, 130px 321px #fff,
    1932px 466px #fff, 1142px 844px #fff, 1154px 928px #fff, 215px 1186px #fff,
    1487px 1462px #fff, 1125px 196px #fff, 693px 870px #fff, 1141px 337px #fff,
    377px 1874px #fff, 724px 1533px #fff, 1135px 183px #fff, 444px 1664px #fff,
    664px 527px #fff, 1119px 237px #fff, 1172px 874px #fff, 200px 1629px #fff,
    1751px 1340px #fff, 1989px 1438px #fff, 851px 582px #fff, 120px 505px #fff,
    920px 136px #fff, 701px 996px #fff, 219px 409px #fff, 1484px 1445px #fff,
    1870px 561px #fff, 1740px 312px #fff, 1172px 956px #fff, 336px 237px #fff,
    1203px 807px #fff, 631px 355px #fff, 11px 1185px #fff, 1572px 728px #fff,
    1052px 859px #fff, 221px 1456px #fff, 1440px 673px #fff, 37px 976px #fff,
    1860px 1447px #fff, 72px 1975px #fff, 1451px 1061px #fff, 9px 1729px #fff,
    705px 572px #fff, 528px 913px #fff, 1693px 1523px #fff, 1495px 1831px #fff,
    859px 1481px #fff, 152px 1551px #fff, 22px 742px #fff, 1206px 1972px #fff,
    1696px 435px #fff, 1801px 1911px #fff, 1556px 581px #fff, 95px 1181px #fff,
    1238px 1282px #fff, 1462px 52px #fff, 474px 1128px #fff, 797px 1309px #fff,
    1861px 1284px #fff, 1862px 1474px #fff, 1476px 335px #fff,
    1858px 1557px #fff, 1231px 579px #fff, 1483px 607px #fff, 120px 1057px #fff,
    1505px 867px #fff, 1282px 1576px #fff, 1094px 1061px #fff, 1451px 809px #fff,
    1424px 90px #fff, 850px 1700px #fff, 671px 1664px #fff, 414px 396px #fff,
    431px 1480px #fff, 1788px 1232px #fff, 1410px 316px #fff, 81px 1552px #fff,
    747px 1194px #fff, 1400px 962px #fff, 478px 1867px #fff, 1314px 1286px #fff,
    129px 272px #fff, 1314px 468px #fff, 76px 442px #fff, 109px 1323px #fff,
    392px 1965px #fff, 1750px 1388px #fff, 1714px 1272px #fff,
    1439px 1056px #fff, 1338px 926px #fff, 970px 1932px #fff, 1686px 1557px #fff,
    1188px 283px #fff, 1705px 754px #fff, 1313px 755px #fff, 1301px 1791px #fff,
    1831px 593px #fff, 1366px 1569px #fff, 701px 913px #fff, 81px 399px #fff,
    1915px 1463px #fff, 1379px 97px #fff, 642px 242px #fff, 945px 174px #fff,
    173px 65px #fff, 761px 852px #fff, 495px 704px #fff, 199px 606px #fff,
    941px 1145px #fff, 776px 1760px #fff, 1125px 1211px #fff, 511px 1752px #fff,
    1518px 1354px #fff, 1730px 481px #fff, 539px 950px #fff, 1308px 748px #fff,
    1597px 587px #fff, 281px 559px #fff, 628px 475px #fff, 69px 1202px #fff,
    174px 1913px #fff, 230px 1998px #fff, 1529px 1305px #fff, 1619px 1808px #fff,
    1469px 946px #fff, 1695px 1461px #fff, 1536px 1396px #fff,
    1583px 1861px #fff, 918px 1544px #fff, 1451px 1262px #fff, 564px 857px #fff,
    1509px 475px #fff, 1238px 856px #fff, 1977px 1258px #fff, 1027px 880px #fff,
    1266px 1264px #fff, 1750px 1490px #fff, 185px 1062px #fff, 183px 1830px #fff,
    1954px 256px #fff, 457px 1450px #fff, 575px 930px #fff, 1461px 583px #fff,
    338px 525px #fff, 1390px 304px #fff, 1736px 1575px #fff, 1904px 1899px #fff,
    1040px 886px #fff, 152px 182px #fff, 932px 846px #fff, 954px 1815px #fff,
    647px 1129px #fff, 1993px 1646px #fff, 1897px 1533px #fff, 563px 96px #fff,
    532px 1718px #fff, 1027px 989px #fff, 302px 577px #fff, 258px 77px #fff,
    938px 1489px #fff;
  animation: animStar 50s linear infinite;
}
.Stars:after {
  content: " ";
  position: absolute;

  left: 0;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1512px 1985px #fff, 818px 64px #fff, 1777px 1466px #fff,
    1372px 892px #fff, 268px 123px #fff, 1448px 1615px #fff, 173px 187px #fff,
    909px 570px #fff, 480px 253px #fff, 1734px 1402px #fff, 432px 1550px #fff,
    702px 165px #fff, 1060px 660px #fff, 1588px 4px #fff, 1172px 61px #fff,
    1043px 3px #fff, 1099px 643px #fff, 6px 1067px #fff, 664px 33px #fff,
    1931px 1214px #fff, 1998px 1087px #fff, 746px 254px #fff, 1433px 544px #fff,
    676px 906px #fff, 654px 566px #fff, 1947px 1012px #fff, 148px 96px #fff,
    632px 314px #fff, 725px 1669px #fff, 782px 1623px #fff, 1502px 433px #fff,
    1094px 1357px #fff, 1589px 1372px #fff, 1360px 1196px #fff,
    1019px 1508px #fff, 1038px 362px #fff, 871px 141px #fff, 1469px 390px #fff,
    1837px 1345px #fff, 841px 882px #fff, 1172px 674px #fff, 1696px 1562px #fff,
    1911px 1805px #fff, 4px 1219px #fff, 1835px 1486px #fff, 1093px 371px #fff,
    606px 439px #fff, 1020px 732px #fff, 1943px 222px #fff, 38px 1891px #fff,
    466px 731px #fff, 1784px 1374px #fff, 1627px 1392px #fff, 462px 540px #fff,
    727px 1482px #fff, 1786px 210px #fff, 28px 1197px #fff, 1274px 1878px #fff,
    1208px 1114px #fff, 4px 731px #fff, 49px 854px #fff, 1925px 100px #fff,
    1818px 1920px #fff, 345px 1466px #fff, 1333px 819px #fff, 732px 48px #fff,
    1300px 183px #fff, 1396px 1576px #fff, 1242px 533px #fff, 644px 965px #fff,
    1958px 303px #fff, 1006px 982px #fff, 1666px 531px #fff, 1344px 1898px #fff,
    811px 1681px #fff, 1180px 1492px #fff, 1194px 1362px #fff, 707px 552px #fff,
    230px 1913px #fff, 1390px 560px #fff, 1619px 351px #fff, 475px 708px #fff,
    13px 1230px #fff, 1557px 893px #fff, 998px 777px #fff, 752px 941px #fff,
    1257px 692px #fff, 584px 1024px #fff, 253px 1992px #fff, 1209px 659px #fff,
    208px 388px #fff, 532px 1530px #fff, 711px 218px #fff, 76px 1347px #fff,
    702px 1805px #fff, 197px 1630px #fff, 445px 1195px #fff, 588px 949px #fff,
    1865px 216px #fff, 10px 260px #fff, 858px 197px #fff, 217px 1650px #fff,
    90px 1737px #fff, 1513px 1659px #fff, 816px 1481px #fff, 1733px 1558px #fff,
    545px 1884px #fff, 1430px 1904px #fff, 563px 906px #fff, 1058px 1688px #fff,
    386px 1642px #fff, 888px 1743px #fff, 30px 1435px #fff, 991px 111px #fff,
    1851px 1330px #fff, 129px 22px #fff, 1981px 1637px #fff, 233px 237px #fff,
    897px 1941px #fff, 243px 1798px #fff, 1852px 616px #fff, 50px 609px #fff,
    962px 74px #fff, 1748px 1992px #fff, 1296px 1517px #fff, 2px 1989px #fff,
    426px 989px #fff, 3px 1694px #fff, 858px 393px #fff, 598px 1096px #fff,
    1473px 1180px #fff, 1706px 812px #fff, 712px 1641px #fff, 1366px 472px #fff,
    1399px 7px #fff, 975px 635px #fff, 1796px 706px #fff, 1359px 744px #fff,
    454px 1779px #fff, 326px 1544px #fff, 1934px 278px #fff, 1715px 1392px #fff,
    951px 619px #fff, 1228px 883px #fff, 1823px 1496px #fff, 864px 481px #fff,
    1439px 1202px #fff, 791px 1719px #fff, 480px 1760px #fff, 1157px 748px #fff,
    725px 1256px #fff, 67px 111px #fff, 1778px 1621px #fff, 522px 110px #fff,
    1994px 866px #fff, 1218px 761px #fff, 703px 1420px #fff, 630px 1408px #fff,
    1834px 1544px #fff, 1522px 1081px #fff, 1423px 1566px #fff,
    1826px 1645px #fff, 1225px 1718px #fff, 655px 1366px #fff,
    1993px 1777px #fff, 1396px 1371px #fff, 599px 661px #fff, 395px 1977px #fff,
    413px 1648px #fff, 1770px 746px #fff, 711px 1403px #fff, 1317px 988px #fff,
    1136px 1746px #fff, 536px 810px #fff, 829px 1411px #fff, 394px 595px #fff,
    1168px 762px #fff, 429px 1845px #fff, 924px 1394px #fff, 596px 309px #fff,
    1029px 392px #fff, 47px 1575px #fff, 1338px 841px #fff, 1807px 197px #fff,
    366px 130px #fff, 413px 145px #fff, 1674px 1742px #fff, 1991px 740px #fff,
    1122px 663px #fff, 418px 1728px #fff, 1545px 1482px #fff, 1644px 322px #fff,
    758px 376px #fff, 772px 1807px #fff, 1656px 1654px #fff, 1404px 1206px #fff,
    1495px 216px #fff, 733px 754px #fff, 1666px 236px #fff, 191px 1042px #fff,
    883px 1234px #fff, 799px 1982px #fff, 49px 283px #fff, 1050px 1047px #fff,
    1296px 1714px #fff, 1320px 1453px #fff, 1940px 1593px #fff, 1323px 41px #fff,
    912px 1225px #fff, 1577px 1104px #fff, 1034px 531px #fff, 332px 1525px #fff,
    327px 964px #fff, 158px 951px #fff, 844px 899px #fff, 106px 289px #fff,
    565px 1320px #fff, 1115px 912px #fff, 431px 1271px #fff, 1635px 186px #fff,
    1190px 122px #fff, 1971px 512px #fff, 901px 698px #fff, 1024px 896px #fff,
    571px 1129px #fff, 1503px 789px #fff, 52px 1426px #fff, 415px 492px #fff,
    557px 329px #fff, 513px 1673px #fff, 11px 967px #fff, 427px 1520px #fff,
    461px 1636px #fff, 55px 1331px #fff, 1940px 119px #fff, 1533px 254px #fff,
    1384px 825px #fff, 930px 531px #fff, 412px 1115px #fff, 1020px 430px #fff,
    677px 121px #fff, 685px 466px #fff, 300px 281px #fff, 275px 404px #fff,
    1653px 9px #fff, 290px 1120px #fff, 257px 1968px #fff, 637px 1632px #fff,
    419px 331px #fff, 1545px 795px #fff, 868px 1047px #fff, 1837px 763px #fff,
    706px 781px #fff, 375px 1632px #fff, 1782px 1491px #fff, 128px 445px #fff,
    363px 1816px #fff, 1868px 1246px #fff, 1740px 1006px #fff, 1266px 322px #fff,
    1055px 690px #fff, 779px 1264px #fff, 1791px 1779px #fff, 1022px 1863px #fff,
    768px 250px #fff, 1472px 1227px #fff, 903px 606px #fff, 1814px 285px #fff,
    905px 1407px #fff, 1838px 162px #fff, 1462px 1357px #fff, 1620px 1541px #fff,
    1596px 1041px #fff, 1674px 620px #fff, 803px 923px #fff, 1466px 1856px #fff,
    1134px 1622px #fff, 1025px 190px #fff, 103px 1841px #fff, 1417px 1409px #fff,
    1195px 1516px #fff, 1998px 940px #fff, 201px 1325px #fff, 1546px 568px #fff,
    1171px 645px #fff, 1780px 74px #fff, 1583px 401px #fff, 1012px 80px #fff,
    1955px 1324px #fff, 1934px 875px #fff, 336px 1688px #fff, 493px 891px #fff,
    582px 1255px #fff, 1894px 1629px #fff, 1986px 335px #fff, 1673px 1853px #fff,
    146px 1985px #fff, 1717px 734px #fff, 962px 1486px #fff, 1156px 715px #fff,
    574px 629px #fff, 1447px 481px #fff, 1048px 1421px #fff, 1891px 709px #fff,
    378px 648px #fff, 699px 155px #fff, 1146px 454px #fff, 359px 1096px #fff,
    1803px 134px #fff, 1618px 616px #fff, 1556px 797px #fff, 496px 653px #fff,
    90px 851px #fff, 255px 593px #fff, 913px 1523px #fff, 1512px 778px #fff,
    401px 1101px #fff, 841px 848px #fff, 788px 742px #fff, 1283px 1340px #fff,
    1732px 883px #fff, 1362px 674px #fff, 1907px 1893px #fff, 1399px 457px #fff,
    1462px 719px #fff, 1051px 217px #fff, 819px 632px #fff, 1587px 1124px #fff,
    154px 1760px #fff, 1667px 1101px #fff, 1353px 1147px #fff, 289px 153px #fff,
    1574px 799px #fff, 799px 1638px #fff, 259px 780px #fff, 1257px 1674px #fff,
    823px 59px #fff, 1791px 1944px #fff, 957px 665px #fff, 1094px 1673px #fff,
    1144px 1702px #fff, 1488px 1227px #fff, 294px 1420px #fff, 419px 547px #fff,
    265px 969px #fff, 1353px 1500px #fff, 1917px 741px #fff, 759px 988px #fff,
    1941px 503px #fff, 471px 173px #fff, 1066px 1960px #fff, 1398px 1052px #fff,
    350px 1961px #fff, 1036px 731px #fff, 426px 140px #fff, 322px 1092px #fff,
    928px 936px #fff, 1215px 648px #fff, 1211px 889px #fff, 1498px 1681px #fff,
    1343px 1271px #fff, 1435px 1493px #fff, 1088px 938px #fff,
    1217px 1989px #fff, 1019px 1162px #fff, 420px 1390px #fff, 705px 704px #fff,
    997px 1684px #fff, 1536px 1645px #fff, 1072px 1584px #fff, 223px 190px #fff,
    1104px 394px #fff, 1393px 725px #fff, 423px 688px #fff, 916px 1680px #fff,
    753px 1576px #fff, 4px 270px #fff, 1184px 1231px #fff, 902px 1237px #fff,
    1332px 898px #fff, 480px 1821px #fff, 1902px 1435px #fff, 499px 336px #fff,
    752px 449px #fff, 60px 1391px #fff, 1180px 648px #fff, 409px 1809px #fff,
    1645px 76px #fff, 748px 431px #fff, 1905px 1642px #fff, 715px 1546px #fff,
    106px 998px #fff, 1490px 142px #fff, 1385px 1105px #fff, 33px 384px #fff,
    1296px 380px #fff, 232px 54px #fff, 570px 1896px #fff, 346px 1851px #fff,
    1135px 1166px #fff, 82px 471px #fff, 1322px 1432px #fff, 1310px 819px #fff,
    1328px 745px #fff, 1103px 701px #fff, 1664px 1077px #fff, 1076px 1741px #fff,
    1572px 1214px #fff, 37px 86px #fff, 422px 977px #fff, 1385px 838px #fff,
    1437px 1050px #fff, 1808px 146px #fff, 420px 444px #fff, 281px 1909px #fff,
    1010px 178px #fff, 890px 1207px #fff, 1848px 1887px #fff, 1684px 1064px #fff,
    965px 1184px #fff, 41px 1843px #fff, 1977px 733px #fff, 1017px 1657px #fff,
    1206px 255px #fff, 1840px 618px #fff, 998px 571px #fff, 1715px 1854px #fff,
    1488px 1804px #fff, 293px 96px #fff, 771px 1914px #fff, 1020px 682px #fff,
    437px 589px #fff, 1023px 1941px #fff, 1690px 1300px #fff, 690px 1776px #fff,
    1730px 301px #fff, 1464px 1417px #fff, 420px 923px #fff, 981px 350px #fff,
    476px 1907px #fff, 828px 1858px #fff, 1740px 954px #fff, 466px 848px #fff,
    1921px 490px #fff, 598px 457px #fff, 800px 1816px #fff, 1509px 1514px #fff,
    760px 258px #fff, 1156px 827px #fff, 2000px 489px #fff, 448px 1707px #fff,
    1736px 1989px #fff, 8px 1061px #fff, 25px 797px #fff, 987px 1148px #fff,
    175px 228px #fff, 1903px 1234px #fff, 526px 115px #fff, 1700px 697px #fff,
    223px 862px #fff, 588px 570px #fff, 1981px 492px #fff, 1882px 1251px #fff,
    422px 673px #fff, 1263px 926px #fff, 296px 1525px #fff, 707px 1090px #fff,
    1853px 1115px #fff, 1357px 764px #fff, 762px 383px #fff, 874px 1807px #fff,
    1627px 1555px #fff, 674px 584px #fff, 290px 1911px #fff, 502px 1033px #fff,
    850px 136px #fff, 8px 577px #fff, 1636px 1532px #fff, 744px 289px #fff,
    1150px 1447px #fff, 2px 1961px #fff, 1670px 606px #fff, 1734px 908px #fff,
    250px 468px #fff, 1503px 344px #fff, 733px 1602px #fff, 770px 1533px #fff,
    1568px 847px #fff, 418px 1444px #fff, 1228px 1123px #fff, 1151px 1865px #fff,
    1036px 786px #fff, 1228px 1259px #fff, 1729px 56px #fff, 1160px 1885px #fff,
    217px 1247px #fff, 428px 326px #fff, 583px 288px #fff, 1709px 783px #fff,
    1744px 7px #fff, 1808px 609px #fff, 888px 889px #fff, 1305px 63px #fff,
    972px 1801px #fff, 62px 1887px #fff, 518px 915px #fff, 600px 395px #fff,
    1471px 1790px #fff, 1471px 1387px #fff, 521px 1750px #fff,
    1504px 1967px #fff, 1609px 438px #fff, 920px 829px #fff, 882px 1549px #fff,
    1974px 1211px #fff, 338px 1226px #fff, 1460px 927px #fff, 671px 234px #fff,
    697px 1809px #fff, 793px 574px #fff, 1600px 1247px #fff, 1180px 242px #fff,
    1236px 1185px #fff, 476px 1239px #fff, 1306px 1374px #fff, 823px 584px #fff,
    1964px 1247px #fff, 1066px 531px #fff, 325px 727px #fff, 1558px 1077px #fff,
    1417px 1831px #fff, 313px 719px #fff, 1112px 578px #fff, 1427px 1124px #fff,
    842px 1300px #fff, 973px 809px #fff, 1425px 2000px #fff, 410px 214px #fff,
    255px 889px #fff, 1679px 1749px #fff, 1713px 883px #fff, 130px 321px #fff,
    1932px 466px #fff, 1142px 844px #fff, 1154px 928px #fff, 215px 1186px #fff,
    1487px 1462px #fff, 1125px 196px #fff, 693px 870px #fff, 1141px 337px #fff,
    377px 1874px #fff, 724px 1533px #fff, 1135px 183px #fff, 444px 1664px #fff,
    664px 527px #fff, 1119px 237px #fff, 1172px 874px #fff, 200px 1629px #fff,
    1751px 1340px #fff, 1989px 1438px #fff, 851px 582px #fff, 120px 505px #fff,
    920px 136px #fff, 701px 996px #fff, 219px 409px #fff, 1484px 1445px #fff,
    1870px 561px #fff, 1740px 312px #fff, 1172px 956px #fff, 336px 237px #fff,
    1203px 807px #fff, 631px 355px #fff, 11px 1185px #fff, 1572px 728px #fff,
    1052px 859px #fff, 221px 1456px #fff, 1440px 673px #fff, 37px 976px #fff,
    1860px 1447px #fff, 72px 1975px #fff, 1451px 1061px #fff, 9px 1729px #fff,
    705px 572px #fff, 528px 913px #fff, 1693px 1523px #fff, 1495px 1831px #fff,
    859px 1481px #fff, 152px 1551px #fff, 22px 742px #fff, 1206px 1972px #fff,
    1696px 435px #fff, 1801px 1911px #fff, 1556px 581px #fff, 95px 1181px #fff,
    1238px 1282px #fff, 1462px 52px #fff, 474px 1128px #fff, 797px 1309px #fff,
    1861px 1284px #fff, 1862px 1474px #fff, 1476px 335px #fff,
    1858px 1557px #fff, 1231px 579px #fff, 1483px 607px #fff, 120px 1057px #fff,
    1505px 867px #fff, 1282px 1576px #fff, 1094px 1061px #fff, 1451px 809px #fff,
    1424px 90px #fff, 850px 1700px #fff, 671px 1664px #fff, 414px 396px #fff,
    431px 1480px #fff, 1788px 1232px #fff, 1410px 316px #fff, 81px 1552px #fff,
    747px 1194px #fff, 1400px 962px #fff, 478px 1867px #fff, 1314px 1286px #fff,
    129px 272px #fff, 1314px 468px #fff, 76px 442px #fff, 109px 1323px #fff,
    392px 1965px #fff, 1750px 1388px #fff, 1714px 1272px #fff,
    1439px 1056px #fff, 1338px 926px #fff, 970px 1932px #fff, 1686px 1557px #fff,
    1188px 283px #fff, 1705px 754px #fff, 1313px 755px #fff, 1301px 1791px #fff,
    1831px 593px #fff, 1366px 1569px #fff, 701px 913px #fff, 81px 399px #fff,
    1915px 1463px #fff, 1379px 97px #fff, 642px 242px #fff, 945px 174px #fff,
    173px 65px #fff, 761px 852px #fff, 495px 704px #fff, 199px 606px #fff,
    941px 1145px #fff, 776px 1760px #fff, 1125px 1211px #fff, 511px 1752px #fff,
    1518px 1354px #fff, 1730px 481px #fff, 539px 950px #fff, 1308px 748px #fff,
    1597px 587px #fff, 281px 559px #fff, 628px 475px #fff, 69px 1202px #fff,
    174px 1913px #fff, 230px 1998px #fff, 1529px 1305px #fff, 1619px 1808px #fff,
    1469px 946px #fff, 1695px 1461px #fff, 1536px 1396px #fff,
    1583px 1861px #fff, 918px 1544px #fff, 1451px 1262px #fff, 564px 857px #fff,
    1509px 475px #fff, 1238px 856px #fff, 1977px 1258px #fff, 1027px 880px #fff,
    1266px 1264px #fff, 1750px 1490px #fff, 185px 1062px #fff, 183px 1830px #fff,
    1954px 256px #fff, 457px 1450px #fff, 575px 930px #fff, 1461px 583px #fff,
    338px 525px #fff, 1390px 304px #fff, 1736px 1575px #fff, 1904px 1899px #fff,
    1040px 886px #fff, 152px 182px #fff, 932px 846px #fff, 954px 1815px #fff,
    647px 1129px #fff, 1993px 1646px #fff, 1897px 1533px #fff, 563px 96px #fff,
    532px 1718px #fff, 1027px 989px #fff, 302px 577px #fff, 258px 77px #fff,
    938px 1489px #fff;
}

.Stars2 {
  width: 2px;
  height: 2px;
  position: absolute;
  left: 0;
  background: transparent;
  box-shadow: 401px 1006px #fff, 1709px 363px #fff, 1211px 1540px #fff,
    397px 1955px #fff, 1435px 159px #fff, 1161px 1383px #fff, 1937px 85px #fff,
    1247px 1256px #fff, 43px 60px #fff, 1521px 1356px #fff, 1023px 829px #fff,
    1157px 308px #fff, 215px 1135px #fff, 1648px 626px #fff, 1404px 877px #fff,
    422px 1877px #fff, 754px 1809px #fff, 972px 170px #fff, 987px 1545px #fff,
    534px 541px #fff, 342px 336px #fff, 983px 1469px #fff, 1150px 1154px #fff,
    1348px 1813px #fff, 1453px 1391px #fff, 1490px 895px #fff, 870px 679px #fff,
    931px 1946px #fff, 1532px 1051px #fff, 351px 540px #fff, 56px 960px #fff,
    1934px 742px #fff, 444px 1606px #fff, 1250px 369px #fff, 1679px 490px #fff,
    111px 615px #fff, 345px 268px #fff, 200px 404px #fff, 1663px 780px #fff,
    935px 119px #fff, 1109px 208px #fff, 1075px 329px #fff, 1276px 500px #fff,
    641px 487px #fff, 1972px 29px #fff, 1289px 156px #fff, 235px 1269px #fff,
    1968px 1760px #fff, 682px 1693px #fff, 1039px 1324px #fff, 323px 1024px #fff,
    601px 642px #fff, 641px 1705px #fff, 1419px 95px #fff, 1657px 707px #fff,
    1385px 602px #fff, 85px 1928px #fff, 1374px 1582px #fff, 528px 444px #fff,
    1316px 1511px #fff, 1748px 1040px #fff, 413px 725px #fff, 1200px 511px #fff,
    1531px 1543px #fff, 621px 855px #fff, 1202px 1520px #fff, 1280px 1893px #fff,
    1847px 438px #fff, 1616px 1816px #fff, 1814px 316px #fff, 956px 1241px #fff,
    1373px 1222px #fff, 1256px 1512px #fff, 959px 412px #fff, 120px 1122px #fff,
    62px 594px #fff, 709px 13px #fff, 320px 1827px #fff, 1304px 811px #fff,
    612px 1245px #fff, 281px 1901px #fff, 205px 949px #fff, 62px 1px #fff,
    1589px 575px #fff, 30px 1312px #fff, 238px 1544px #fff, 418px 466px #fff,
    686px 510px #fff, 81px 622px #fff, 121px 201px #fff, 774px 627px #fff,
    1190px 1704px #fff, 1994px 1968px #fff, 186px 847px #fff, 1330px 1284px #fff,
    900px 660px #fff, 1851px 1292px #fff, 668px 980px #fff, 229px 36px #fff,
    767px 1590px #fff, 804px 328px #fff, 1918px 1886px #fff, 499px 18px #fff,
    1142px 1281px #fff, 1237px 599px #fff, 190px 391px #fff, 945px 546px #fff,
    741px 238px #fff, 1391px 168px #fff, 772px 406px #fff, 642px 350px #fff,
    1825px 39px #fff, 1033px 1529px #fff, 503px 1781px #fff, 1210px 1698px #fff,
    1903px 1386px #fff, 1933px 1334px #fff, 475px 1882px #fff, 737px 1010px #fff,
    636px 778px #fff, 118px 447px #fff, 139px 354px #fff, 1444px 1589px #fff,
    1986px 255px #fff, 1824px 1631px #fff, 640px 1447px #fff, 639px 223px #fff,
    1729px 1306px #fff, 441px 277px #fff, 1025px 1624px #fff, 699px 954px #fff,
    1965px 566px #fff, 869px 1195px #fff, 1577px 213px #fff, 1362px 789px #fff,
    1659px 1569px #fff, 888px 88px #fff, 1306px 336px #fff, 1938px 335px #fff,
    1619px 255px #fff, 1209px 1431px #fff, 769px 614px #fff, 666px 143px #fff,
    1051px 1073px #fff, 799px 1734px #fff, 890px 966px #fff, 1022px 1933px #fff,
    1604px 1824px #fff, 47px 1786px #fff, 1118px 300px #fff, 17px 1873px #fff,
    1757px 591px #fff, 625px 789px #fff, 751px 612px #fff, 1795px 407px #fff,
    1322px 1460px #fff, 1656px 1852px #fff, 844px 344px #fff, 663px 1847px #fff,
    13px 1379px #fff, 800px 1788px #fff, 1391px 310px #fff, 1830px 3px #fff,
    42px 815px #fff, 1954px 1914px #fff, 388px 1221px #fff, 1448px 146px #fff,
    1255px 167px #fff, 734px 1495px #fff, 310px 726px #fff, 1171px 1946px #fff,
    1865px 1279px #fff, 216px 392px #fff, 243px 410px #fff, 1267px 772px #fff,
    749px 1611px #fff, 1989px 894px #fff, 1685px 997px #fff, 730px 461px #fff,
    1342px 114px #fff, 1496px 1481px #fff, 1666px 196px #fff, 1399px 1965px #fff,
    301px 469px #fff, 861px 929px #fff, 1851px 1861px #fff, 952px 1194px #fff,
    627px 977px #fff, 215px 209px #fff, 478px 706px #fff, 837px 525px #fff,
    808px 432px #fff, 889px 1088px #fff, 585px 1694px #fff, 1375px 1783px #fff,
    553px 126px #fff, 287px 1076px #fff, 61px 949px #fff, 276px 402px #fff,
    448px 1370px #fff;
  animation: animStar 100s linear infinite;
}
.Stars2:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 401px 1006px #fff, 1709px 363px #fff, 1211px 1540px #fff,
    397px 1955px #fff, 1435px 159px #fff, 1161px 1383px #fff, 1937px 85px #fff,
    1247px 1256px #fff, 43px 60px #fff, 1521px 1356px #fff, 1023px 829px #fff,
    1157px 308px #fff, 215px 1135px #fff, 1648px 626px #fff, 1404px 877px #fff,
    422px 1877px #fff, 754px 1809px #fff, 972px 170px #fff, 987px 1545px #fff,
    534px 541px #fff, 342px 336px #fff, 983px 1469px #fff, 1150px 1154px #fff,
    1348px 1813px #fff, 1453px 1391px #fff, 1490px 895px #fff, 870px 679px #fff,
    931px 1946px #fff, 1532px 1051px #fff, 351px 540px #fff, 56px 960px #fff,
    1934px 742px #fff, 444px 1606px #fff, 1250px 369px #fff, 1679px 490px #fff,
    111px 615px #fff, 345px 268px #fff, 200px 404px #fff, 1663px 780px #fff,
    935px 119px #fff, 1109px 208px #fff, 1075px 329px #fff, 1276px 500px #fff,
    641px 487px #fff, 1972px 29px #fff, 1289px 156px #fff, 235px 1269px #fff,
    1968px 1760px #fff, 682px 1693px #fff, 1039px 1324px #fff, 323px 1024px #fff,
    601px 642px #fff, 641px 1705px #fff, 1419px 95px #fff, 1657px 707px #fff,
    1385px 602px #fff, 85px 1928px #fff, 1374px 1582px #fff, 528px 444px #fff,
    1316px 1511px #fff, 1748px 1040px #fff, 413px 725px #fff, 1200px 511px #fff,
    1531px 1543px #fff, 621px 855px #fff, 1202px 1520px #fff, 1280px 1893px #fff,
    1847px 438px #fff, 1616px 1816px #fff, 1814px 316px #fff, 956px 1241px #fff,
    1373px 1222px #fff, 1256px 1512px #fff, 959px 412px #fff, 120px 1122px #fff,
    62px 594px #fff, 709px 13px #fff, 320px 1827px #fff, 1304px 811px #fff,
    612px 1245px #fff, 281px 1901px #fff, 205px 949px #fff, 62px 1px #fff,
    1589px 575px #fff, 30px 1312px #fff, 238px 1544px #fff, 418px 466px #fff,
    686px 510px #fff, 81px 622px #fff, 121px 201px #fff, 774px 627px #fff,
    1190px 1704px #fff, 1994px 1968px #fff, 186px 847px #fff, 1330px 1284px #fff,
    900px 660px #fff, 1851px 1292px #fff, 668px 980px #fff, 229px 36px #fff,
    767px 1590px #fff, 804px 328px #fff, 1918px 1886px #fff, 499px 18px #fff,
    1142px 1281px #fff, 1237px 599px #fff, 190px 391px #fff, 945px 546px #fff,
    741px 238px #fff, 1391px 168px #fff, 772px 406px #fff, 642px 350px #fff,
    1825px 39px #fff, 1033px 1529px #fff, 503px 1781px #fff, 1210px 1698px #fff,
    1903px 1386px #fff, 1933px 1334px #fff, 475px 1882px #fff, 737px 1010px #fff,
    636px 778px #fff, 118px 447px #fff, 139px 354px #fff, 1444px 1589px #fff,
    1986px 255px #fff, 1824px 1631px #fff, 640px 1447px #fff, 639px 223px #fff,
    1729px 1306px #fff, 441px 277px #fff, 1025px 1624px #fff, 699px 954px #fff,
    1965px 566px #fff, 869px 1195px #fff, 1577px 213px #fff, 1362px 789px #fff,
    1659px 1569px #fff, 888px 88px #fff, 1306px 336px #fff, 1938px 335px #fff,
    1619px 255px #fff, 1209px 1431px #fff, 769px 614px #fff, 666px 143px #fff,
    1051px 1073px #fff, 799px 1734px #fff, 890px 966px #fff, 1022px 1933px #fff,
    1604px 1824px #fff, 47px 1786px #fff, 1118px 300px #fff, 17px 1873px #fff,
    1757px 591px #fff, 625px 789px #fff, 751px 612px #fff, 1795px 407px #fff,
    1322px 1460px #fff, 1656px 1852px #fff, 844px 344px #fff, 663px 1847px #fff,
    13px 1379px #fff, 800px 1788px #fff, 1391px 310px #fff, 1830px 3px #fff,
    42px 815px #fff, 1954px 1914px #fff, 388px 1221px #fff, 1448px 146px #fff,
    1255px 167px #fff, 734px 1495px #fff, 310px 726px #fff, 1171px 1946px #fff,
    1865px 1279px #fff, 216px 392px #fff, 243px 410px #fff, 1267px 772px #fff,
    749px 1611px #fff, 1989px 894px #fff, 1685px 997px #fff, 730px 461px #fff,
    1342px 114px #fff, 1496px 1481px #fff, 1666px 196px #fff, 1399px 1965px #fff,
    301px 469px #fff, 861px 929px #fff, 1851px 1861px #fff, 952px 1194px #fff,
    627px 977px #fff, 215px 209px #fff, 478px 706px #fff, 837px 525px #fff,
    808px 432px #fff, 889px 1088px #fff, 585px 1694px #fff, 1375px 1783px #fff,
    553px 126px #fff, 287px 1076px #fff, 61px 949px #fff, 276px 402px #fff,
    448px 1370px #fff;
}

.Stars3 {
  width: 3px;
  height: 3px;
  position: absolute;
  left: 0;
  background: transparent;
  box-shadow: 1638px 1777px #fff, 1980px 700px #fff, 24px 1212px #fff,
    1760px 585px #fff, 790px 1284px #fff, 1528px 1908px #fff, 1433px 1253px #fff,
    1681px 1287px #fff, 1035px 1630px #fff, 1182px 1543px #fff, 834px 782px #fff,
    1064px 1573px #fff, 315px 1733px #fff, 108px 826px #fff, 156px 441px #fff,
    1445px 1929px #fff, 351px 1342px #fff, 91px 486px #fff, 744px 1453px #fff,
    415px 1524px #fff, 760px 1418px #fff, 102px 1588px #fff, 966px 950px #fff,
    1498px 1295px #fff, 989px 1294px #fff, 1259px 1698px #fff, 1049px 737px #fff,
    944px 138px #fff, 1883px 1342px #fff, 694px 1403px #fff, 558px 200px #fff,
    1717px 225px #fff, 367px 1210px #fff, 1064px 1279px #fff, 1886px 679px #fff,
    1780px 335px #fff, 231px 1658px #fff, 140px 1811px #fff, 231px 1519px #fff,
    1801px 1883px #fff, 980px 894px #fff, 913px 610px #fff, 311px 834px #fff,
    1069px 1602px #fff, 773px 277px #fff, 999px 852px #fff, 173px 594px #fff,
    1145px 1458px #fff, 1410px 43px #fff, 303px 440px #fff, 1493px 1623px #fff,
    1166px 1291px #fff, 1997px 1621px #fff, 1376px 778px #fff, 240px 743px #fff,
    495px 1506px #fff, 1483px 1583px #fff, 136px 674px #fff, 491px 1731px #fff,
    400px 1050px #fff, 738px 1806px #fff, 1520px 456px #fff, 1315px 657px #fff,
    1783px 1977px #fff, 266px 1283px #fff, 211px 760px #fff, 576px 738px #fff,
    778px 1811px #fff, 1204px 898px #fff, 1916px 428px #fff, 1588px 50px #fff,
    1542px 112px #fff, 1967px 1296px #fff, 1470px 1157px #fff,
    1233px 1907px #fff, 1744px 1865px #fff, 880px 1273px #fff, 729px 371px #fff,
    785px 1838px #fff, 1505px 550px #fff, 1319px 353px #fff, 1671px 1983px #fff,
    1527px 87px #fff, 1921px 1840px #fff, 1111px 1103px #fff, 1042px 1003px #fff,
    1606px 900px #fff, 577px 1435px #fff, 1457px 1880px #fff, 461px 1698px #fff,
    79px 460px #fff, 1040px 361px #fff, 967px 1895px #fff, 1715px 775px #fff,
    574px 17px #fff, 387px 685px #fff, 388px 1244px #fff, 145px 1390px #fff,
    650px 1985px #fff, 1165px 1095px #fff;
  animation: animStar 150s linear infinite;
}
.Stars3:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1638px 1777px #fff, 1980px 700px #fff, 24px 1212px #fff,
    1760px 585px #fff, 790px 1284px #fff, 1528px 1908px #fff, 1433px 1253px #fff,
    1681px 1287px #fff, 1035px 1630px #fff, 1182px 1543px #fff, 834px 782px #fff,
    1064px 1573px #fff, 315px 1733px #fff, 108px 826px #fff, 156px 441px #fff,
    1445px 1929px #fff, 351px 1342px #fff, 91px 486px #fff, 744px 1453px #fff,
    415px 1524px #fff, 760px 1418px #fff, 102px 1588px #fff, 966px 950px #fff,
    1498px 1295px #fff, 989px 1294px #fff, 1259px 1698px #fff, 1049px 737px #fff,
    944px 138px #fff, 1883px 1342px #fff, 694px 1403px #fff, 558px 200px #fff,
    1717px 225px #fff, 367px 1210px #fff, 1064px 1279px #fff, 1886px 679px #fff,
    1780px 335px #fff, 231px 1658px #fff, 140px 1811px #fff, 231px 1519px #fff,
    1801px 1883px #fff, 980px 894px #fff, 913px 610px #fff, 311px 834px #fff,
    1069px 1602px #fff, 773px 277px #fff, 999px 852px #fff, 173px 594px #fff,
    1145px 1458px #fff, 1410px 43px #fff, 303px 440px #fff, 1493px 1623px #fff,
    1166px 1291px #fff, 1997px 1621px #fff, 1376px 778px #fff, 240px 743px #fff,
    495px 1506px #fff, 1483px 1583px #fff, 136px 674px #fff, 491px 1731px #fff,
    400px 1050px #fff, 738px 1806px #fff, 1520px 456px #fff, 1315px 657px #fff,
    1783px 1977px #fff, 266px 1283px #fff, 211px 760px #fff, 576px 738px #fff,
    778px 1811px #fff, 1204px 898px #fff, 1916px 428px #fff, 1588px 50px #fff,
    1542px 112px #fff, 1967px 1296px #fff, 1470px 1157px #fff,
    1233px 1907px #fff, 1744px 1865px #fff, 880px 1273px #fff, 729px 371px #fff,
    785px 1838px #fff, 1505px 550px #fff, 1319px 353px #fff, 1671px 1983px #fff,
    1527px 87px #fff, 1921px 1840px #fff, 1111px 1103px #fff, 1042px 1003px #fff,
    1606px 900px #fff, 577px 1435px #fff, 1457px 1880px #fff, 461px 1698px #fff,
    79px 460px #fff, 1040px 361px #fff, 967px 1895px #fff, 1715px 775px #fff,
    574px 17px #fff, 387px 685px #fff, 388px 1244px #fff, 145px 1390px #fff,
    650px 1985px #fff, 1165px 1095px #fff;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.Cuerpo {
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  color: white;
}

.SeccionContactos {
  width: 100%;
  height: 100%;
  padding-top: 90px;
}

.Contenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.SeccionTitulo {
  font: normal 40px/50px "Montserrat", sans-serif;
  color: white;
  transition: 3s;
  font-weight: bolder;
}
/* TITULO Y MOVIMIENTO */
.SeccionTitulo p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}

.SeccionTitulo b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 1px;
  font-size: 40px;
}
.SeccionTitulo .TitulosInternos {
  display: inline-block;
  color: #ecb201;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

  /*animation*/
  -webkit-animation: move 10s;
  -moz-animation: move 10s;
  -ms-animation: move 10s;
  -o-animation: move 10s;
  animation: move 10s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-moz-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
/* .SeccionTitulo::before{
    content: "";
    position: absolute;
    left: 0%;
    margin-bottom: 5px;
    background: linear-gradient(to right,#0cdceb, #182881, #020529);
    height: 3px;
    width: 100%;
    background-color: white;
} */

/* IMAGENES Y TEXT */
.Img {
  opacity: 0.8;
}
.Img:hover {
  opacity: 1;
}

.SeccionImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ContenidoImg4 {
  margin: 25px;
  margin-top: 30px;
  border-radius: 2%;
  padding-top: 50px;
  box-shadow: -10px 6px 11px -3px #72bdff;
}
.ContenidoImg1 {
  margin-top: 30px;
  border-radius: 2%;
  padding-top: 50px;
  box-shadow: 7px 6px 11px -3px #72bdff;
  
}

.Img {
  display: flex;
  margin: 25px;
  transition: 3s;
}
.Imagenes {
}
.Parrafos {
  margin: 25px;
  font-size: 20px;
  transition: 3s;
}

@keyframes text {
  0% {
    color: #000;
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }

  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
@media (max-width: 1400px) {
  .Cuerpo {
    width: 100%;
    height: 100%;

    color: white;
  }

  .SeccionContactos {
    width: 100%;
    height: 100%;
    padding-top: 90px;
  }

  .Contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }

  .SeccionTitulo {
    color: white;
    transition: 3s;
    font-weight: bolder;
  }
  /* TITULO Y MOVIMIENTO */
  .SeccionTitulo p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }

  .SeccionTitulo b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 1px;
    font-size: 40px;
  }
  .SeccionTitulo .TitulosInternos {
    display: inline-block;
    color: #ecb201;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  }

  .SeccionImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -10px 6px 11px -3px #72bdff;
    border-radius: 10px;
  }

  .ContenidoImg4 {
    margin: 25px;
    margin-top: 30px;
    border-radius: 2%;
    padding-top: 50px;
    box-shadow: none;
  }
  .ContenidoImg1 {
    margin-top: 30px;
    border-radius: 2%;
    padding-top: 50px;
    box-shadow: none;
  }

  .Img {
    display: flex;
    margin: 25px;
    transition: 3s;
  }
  .Imagenes {
  }
  .Parrafos {
    margin: 25px;
    font-size: 20px;
    transition: 3s;
  }
}

@media (max-width: 700px) {
  .Cuerpo {
    width: 100%;
    height: 100%;
    color: white;
  }

  .SeccionContactos {
    width: 100%;
    height: 100%;
    padding-top: 90px;
  }

  .Contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }

  .SeccionTitulo {
    color: white;
    transition: 3s;
    font-weight: bolder;
    width: 100%;
    font-size: 30px;
    margin: 25px 0 25px 0;
  }
  /* TITULO Y MOVIMIENTO */
  .SeccionTitulo p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }

  .SeccionTitulo b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 1px;
    font-size: 30px;
  }
  .SeccionTitulo .TitulosInternos {
    display: inline-block;
    color: #ecb201;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  }

  .SeccionImg {
    display: flex;
    flex-direction: column;
    box-shadow: -10px 6px 11px -3px #72bdff;
    border-radius: 10px;
  }

  .ContenidoImg4 {
    margin: 0;
    margin-top: 10px;
    border-radius: 2%;
    padding-top: 50px;
    box-shadow: none;
  }
  .ContenidoImg1 {
    margin: 0;
    margin-top: 10px;
    border-radius: 2%;
    padding-top: 50px;
    box-shadow: none;
  }

  .Img {
    margin: 0;
    display: flex;
    transition: 3s;
    height: 100%;
    width: 100%;
  }
  .Imagenes {
    margin: 5px;
    height: 100%;
    width: 95%;
  }
  .Parrafos {
    overflow: hidden;
    margin: 25px;
    font-size: 20px;
    transition: 3s;
  }
}
