.NavLink {
  text-decoration: none;
  color: #fdfdfd;
  font-size: 18.5px;
  font-family: "Vollkorn", serif;
  position: relative;
}
.NavLink:hover {
  text-decoration: none;
  color: #ffffff;
}
.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(6px);
  background-color: #193157a4;
  height: 90px;
  width: 100%;
  z-index: 1000;
}
.NavBar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.NavBar nav ul li {
  display: inline-block;
  margin: 90px;
  transition: 0.4s;
}

.NavBar .MobileNavigation {
  display: none;
}
.ul {
  position: relative;
  top: -35px;
  left: -5%;
}
.LogoImg {
  height: 90px;
  width: 300px;
}
.NavLink2 {
  position: absolute;
  top: -1px;
  left: 39.5%;
}
.Logo {
  font-family: "Allison", cursive;

  color: rgb(255, 255, 255);

  font-size: 50px;

  font-weight: bolder;
}
ul li {
  position: relative;
}
.NavLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ffffff, #8d8d8d, #000000);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.1s ease-in;
}
.NavLink:hover::before {
  transform: scaleX(1);
}

@media (max-width: 1670px) {
  .NavLink2 {
    position: absolute;
    top: -1px;
    left: 38%;
  }
}
@media (max-width: 1570px) {
  .NavLink2 {
    position: absolute;
    top: -1px;
    left: 36%;
  }
}

@media (max-width: 1350px) {
  .NavLink2 {
    position: absolute;
    top: -1px;
    left: 50px;
  }
  .NavBar nav ul li {
    position: relative;
    left: -0px;
    display: inline-block;
    margin: 10px;
    padding-left: 30px;
    transition: 0.5s;
  }
  .NavBar {
    display: flex;
    justify-content: flex-end;
  }
  .NavBar nav {
    margin-right: 100px;
  }
  .ul {
    position: relative;
    top: 0px;
    left: 5%;
  }
}

@media (max-width: 990px) {
  .NavLink2 {
    position: absolute;
    top: -1px;
    left: 0%;
  }
  .NavBar .Navigation {
    display: none;
  }
  .NavBar .MobileNavigation {
    display: flex;
    align-items: center;
    height: 90px;
  }
  .NavBar .MobileNavigation .Burger {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }
  .NavBar nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 70%;
    background: #4140404d;
    backdrop-filter: blur(6px);
  }

  .NavBar {
    opacity: 1;
  }
}
