.Container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-top: 75px;
  height: 300px;
  width: 100%;
  color: white;
  background-color: black;
}
.ContBoxLinks {
  margin-top: 10px;
}
.ContLinks {
  width: 40px;
  height: 40px;
}
.BoxLinks1 {
  color: rgb(28, 28, 184);
}
.BoxLinks1:hover {
  color: rgb(0, 0, 255);
}
.BoxLinks2 {
  color: rgb(5, 119, 39);
}
.BoxLinks2:hover {
  color: rgb(10, 185, 63);
}
