.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-size: 100%, 100%;
  background-color: rgba(0, 0, 0, 0.459);
  backdrop-filter: blur(10px);
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 40px;
  color: rgb(255, 255, 255);
}
