.Container {
  margin: 0;
  padding: 0;
  height: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Box {
  border: solid 2px rgb(83, 55, 3);
  height: auto;
  width: 90%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../Img/bgcontact.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.BoxTitulo {
  height: 22%;
  width: 100%;
  display: flex;
  color: rgb(185, 90, 0);
  justify-content: center;
}
.Titulo {
  font-size: 72px;
  font-weight: 500;
  font-family: "Allison", cursive;
}
.Linea {
  height: 2px;
  width: 100%;
  background-color: rgb(83, 55, 3);
}
.ContainerCards {
  height: 500px;
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 1450px) {
  .Container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContainerCards {
    background-color: red;
  }
}
@media (max-width: 1000px) {
}
